# Xcode user state
Fathom.xcodeproj/project.xcworkspace/xcuserdata/
Fathom.xcodeproj/xcuserdata/
*.xcuserstate

# Build artifacts
.build
DerivedData/

# Instruments traces
*.trace
*.trace.gz

# Tooling
.claude
